body {
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #39393A;
    background-color: #FFF4EC;
}
.navbar-default {
	background-color: #FF8552; 
	border-color: #FF8552;
}
.navbar-default .navbar-brand {
    color: #7F7F7F;
}
.navbar-default .navbar-nav>li>a {
    color: #7F7F7F;
}
.navbar {
	margin-bottom: 0px;
}
#top_name {
	background-color: #FF8552;
	color: #7F7F7F ;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    box-sizing: border-box;
}
h3 {
	color:#C6C7C4;
}
#hero {
	background-image: url(group.JPG);
	height: 600px;
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}